@{
    ViewBag.Title = "Gioithieu";
}


<!DOCTYPE html>
<html lang="en">



<div class="wrapper col3">
    <div class="container">
        <div class="content">
            <div id="topstory">
                <h2>HỘI TRẠI DAU</h2>
                <ul>
                    <li>
                        <img src="~/Content/images/trai2.jpg" />
                        <h3>Giải nhất năm 2020</h3>
                        <p>Trại hè Tuổi trẻ... được thiết kế theo chủ đề “Tuổi trẻ với Chủ quyền Biển thiêng, Biển đảo Tổ quốc”. Cao cả nhất là lá cờ đỏ sao vàng tung bay trong gió</p>
                        <p class="readmore"><a href="#">Xem thêm &raquo;</a></p>
                    </li>
                    <li>
                        <img src="~/Content/images/trai.jpg" />
                        <h3>Giải nhất năm 2021</h3>
                        <p>Trại hè Tuổi trẻ... được thiết kế theo chủ đề “Tuổi trẻ với Chủ quyền Biển thiêng, Biển đảo Tổ quốc”. Cao cả nhất là lá cờ đỏ sao vàng tung bay trong gió</p>
                        <p class="readmore"><a href="#">Xem thêm &raquo;</a></p>
                    </li>
                    <li class="last">
                        <img src="~/Content/images/trai2.jpg" />
                        <h3>Giải nhất năm 2022</h3>
                        <p>Trại hè Tuổi trẻ... được thiết kế theo chủ đề “Tuổi trẻ với Chủ quyền Biển thiêng, Biển đảo Tổ quốc”. Cao cả nhất là lá cờ đỏ sao vàng tung bay trong gió</p>
                        <p class="readmore"><a href="#">Xem thêm &raquo;</a></p>
                    </li>
                </ul>
                <br class="clear" />
            </div>
            <div id="latestnews">
                <h2>Phổ biến luật</h2>
                <ul>
                    <li>
                        <div class="imgholder"><img src="~/Content/images/trai1.jpg" /></div>
                        <div class="latestnews">
                            <h2>Cách thức tổ chức</h2>
                            <p>Mỗi lớp dựng mỗi trại theo chủ đề thiên nhiên. Nguyên liệu tự kiếm và diện tích 50 mét vuông</p>
                            <p class="readmore"><a href="#">Xem thêm &raquo;</a></p>
                        </div>
                        <br class="clear" />
                    </li>
                    <li class="last">
                        <div class="imgholder"><img src="~/Content/images/trai4.jpg" /></div>
                        <div class="latestnews">
                            <h2>Cách thức chấm điểm</h2>
                            <p>Điểm sẽ được chấm dựa vào hình thức và ý nghĩa, các lớp sẽ thuyết trình về trại của lớp mình, tổng của cả 2 sẽ quyết định giải nhất </p>
                            <p class="readmore"><a href="#"> &raquo;</a></p>
                        </div>
                        <br class="clear" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="sponsors">
                <h2>Lửa trại</h2>
                <div class="b_250"><a href="#"><img src="~/Content/images/lua5.jpg" /></a></div>
                <div class="b_125">
                    <ul>
                        
                        <li><a href="#"><img src="~/Content/images/lua1.jpg" /></a></li>
                        <li><a href="#"><img src="~/Content/images/lua2.jpg" /></a></li>
                        <li><a href="#"><img src="~/Content/images/lua3.jpg" /></a></li>
                        <li><a href="#"><img src="~/Content/images/lua4.jpg" /></a></li>
                        
                        
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
</div>